// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');


@font-face {
    font-family: 'fontello';
    src: url('/public/fonts/fontello.eot?42884783');
    src: url('/public/fonts/fontello.eot?42884783#iefix') format('embedded-opentype'),
         url('/public/fonts/fontello.woff2?42884783') format('woff2'),
         url('/public/fonts/fontello.woff?42884783') format('woff'),
         url('/public/fonts/fontello.ttf?42884783') format('truetype'),
         url('/public/fonts/fontello.svg?42884783#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?42884783#fontello') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-breiclub:before { content: '\e800'; } /* '' */

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    color: $secondary;
}

p {
    font-size: 0.95rem;
}

.header-img {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/header.jpg");
}

// Navbar
nav {
    .navbar-brand {
        img {
            border-right: solid $secondary 2px;
        }

        .brand-text {
            font-family: $accentFont;
            font-size: 1.75rem;
            color: $primary;
            vertical-align: -10px;
        }
    }

    .nav-link {
        display: inline;
        vertical-align: -13px;
        margin-left: 5px;
    }

    .nav-link:hover {
        border-bottom: solid $primary 2px;
        color: $secondary;
    }

    .nav-link.active {
        border-bottom: solid $primary 2px;
        color: $secondary;
    }
}

.container-fluid {
    max-width: 1350px;
}

.container {
    max-width: 1200px;
    .card {
        .card-header {
            font-weight: 900;
        }
        .card-body {
            --max-lines: 4;
            position: relative;
            max-height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
        }
    }
    .news {
        img {
            width: 100%;
        }
    }
    .products {
        transition: 0.3s;

        .price {
            border-left: solid 1px white;
        }
    }

    .products:hover {
        cursor: pointer;
        filter: brightness(0.85);
    }
}

footer {
    width: 100%;
    height: 100px;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    h4 {
        font-family: $accentFont;
        color: $primary;
    }

    .logo {
        font-size: 20px;
    }
}
