// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header-img {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/header.jpg");
}

// Navbar
nav {
    .navbar-brand {
        img {
            border-right: solid $secondary 2px;
        }

        .brand-text {
            font-family: $accentFont;
            font-size: 1.75rem;
            color: $primary;
            vertical-align: -10px;
        }
    }

    .nav-link {
        display: inline;
        vertical-align: -13px;
        margin-left: 5px;
    }

    .nav-link:hover {
        border-bottom: solid $primary 2px;
        color: $secondary;
    }

    .nav-link.active {
        border-bottom: solid $primary 2px;
        color: $secondary;
    }
}

.container-fluid {
    max-width: 1920px;
}

.container {
    .card {
        .card-header {
            font-weight: 900;
        }
        .card-body {
            --max-lines: 4;
            position: relative;
            max-height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
        }
    }
    .news {
        img {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    height: 100px;
    // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
